@model CoreMultiJoinsProject.Models.ViewModel.CreateEmployee
@{
    ViewData["Title"] = "AddEmployee";
}

<h1>AddEmployee</h1>

<div class="row">
    <div class="col-sm-6">
        <form method="post" asp-controller="Add" asp-action="AddEmployee">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <input asp-for="Gender" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control" />
            </div>
            <div class="form-group">
                <label>Department</label>
                <select name="departmentsId" class="form-control">
                    <option value="">--Select--</option>
                    @foreach (var getDep in ViewBag.objGetDep)
                    {
                        <option value="@getDep.Id">@getDep.Department</option>
                    }
                </select>
            </div>
            <div>

                <input type="submit" class="btn btn-secondary btn-block" />
            </div>
        </form>
    </div>
</div>
