@model CoreMultiJoinsProject.Models.ViewModel.CreateState
@{
    ViewData["Title"] = "AddState";
}

<h1>Add-State</h1>
<div class="row">
    <div class="col-sm-6">
        <form method="post" asp-controller="Add" asp-action="AddState">
            <div class="form-group">
                <label asp-for="StateName"></label>
                <input asp-for="StateName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StateCode"></label>
                <input asp-for="StateCode" class="form-control" />
            </div>

            <div class="form-group">
                <label>Country</label>
                <select name="countriesId" class="form-control">
                    <option value="">--Select--</option>
                    @foreach (var getCntr in ViewBag.objGetState)
                    {
                        <option value="@getCntr.Id">@getCntr.CountryName</option>
                    }
                </select>
            </div>
            <div>

                <input type="submit" class="btn btn-secondary btn-block" />
            </div>
        </form>
    </div>
</div>
