@model IEnumerable<CoreMultiJoinsProject.Models.Departments>
@{
    ViewData["Title"] = "Index";
}

<h4><span><a asp-controller="Add" asp-action="EmployeeDetails">Show-EmployeeDetails</a></span></h4>
<h4><span><a asp-controller="Add" asp-action="FilterCountry">Filter-Details</a></span></h4>
<h4><span><a asp-controller="Add" asp-action="AdminPannel"> Admin </a></span></h4>






